@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,700&display=swap');

    *{
        margin: 0;
        padding: 0;
        outline: 0;
        box-sizing: border-box;
        scrollbar-width: thin;
        scrollbar-color: #7400b8 black;
    }

    html, body{
        height: 100vh;
        font-family: 'Roboto Serif', serif;
        text-rendering: optimizeLegibility;
    }

    html{
        font-size: 70%;
    }

    body{
        padding: 1em;
    }
/* Works on Chrome, Edge, and Safari */
        *::-webkit-scrollbar {
        width: 12px;
        }

        *::-webkit-scrollbar-track {
        background: black;
        }

        *::-webkit-scrollbar-thumb {
        background-color: #7400b8;
        border-radius: 2rem;
        border: 0.5rem solid black;
        }